services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: marketplace
      POSTGRES_USER: marketplace
      POSTGRES_PASSWORD: marketplace
    ports:
      - "5432:5432"
    volumes:
      - marketplace_db:/var/lib/postgresql/data

volumes:
  marketplace_db:
